<tr>
	<%= form_for task do |f| %>
		<td><%= f.check_box :status %></td>
		<td><%= f.text_field :name, value: task.name, class: "input_task" %></td>
		<td><%= f.datetime_select :deadline, value: task.deadline %></td>
		<td><%= image_tag('edit.png', size: '15x15') %></td>
		<td><%= link_to image_tag('delete.png', size: '15x15'), task_path(task.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
	<% end %>
</tr>